/* Navbar CSS */

.Nav-heading {
  text-align: center;
  background-color: gray;
  margin: 0;
  line-height: 70px;
}

/* TODO container */

.App {
  width: 100%;
  min-height: 400px;
  background-color: aqua;
  margin: 0;
  display: flex;
}

.all-todos {
  flex-grow: 4;
  border: 1px solid black;
}

/* Todo Form CSS */

.todo-form-div {
  flex-grow: 1;
  border: 1px solid black;
}

.todo-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.form-heading {
  text-align: center;
  margin: 0;
  padding: 8px;
  background-color: rgb(3, 3, 75);
  color: antiquewhite;
  font-size: 24px;
}